*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Roboto', sans-serif;
	animation: transitionIn 0.75s;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
}
.welcome{
	font-size: 22px;
	font-weight: bold;
	flex: 1;
	text-align: center;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin: 20px;
}
a{
	text-decoration: none;
	color: gainsboro;
}
p{
	color: gainsboro;
}
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	animation: transitionIn 0.75s;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn:hover{
	background-color: #ccc;
}
.btn-anime{

}
.btn2{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}
.btn2:hover{
	background-color: palegreen;
}
.header{
	background-image: url("assets/tom.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.header .row{
margin-top: 200px;
}
.categories{
	margin: 70px 0;
}
.col-3{
flex-basis: 30%;
min-width: 250px;
margin-bottom: 30px;
}
.col-3 img{
	width: 100%;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}
.col-4 img{
	width: 100%;
}
.title{
	text-align: center;
	margin: 0 auto;
	position: relative;
	line-height: 60px;
	color: #555;
}
.title::after{
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}
h4{
	color: #555;
	font-weight: normal;
}
.col-4 p{
	font-size: 14px;
	color: #555;
}
.rating .fa{
color: #ff523b;
}
.col-4:hover{
	transform: translateY(-5px);
}
/*----- offer ------*/
.offer{
	background: radial-gradient(#404040,#000000);
	margin-top: 80px;
	padding: 30px 0;
}
.col-2 .offer-img{
	padding: 50px;
}
small{
	color: gainsboro;
	font-size: 14px;
}
/*--- testimonial ----*/
.testimonial{
	padding-top: 100px;
}
.testimonial .col-3{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.5s;
}
.testimonial .col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}
.testimonial p{
	color: #555;
}
.testimonial .col-3:hover{
	transform: translateY(-10px);
}
.fa.fa-quote-left{
	font-size: 34px;
	color: #ff523b;
}
.col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}
.testimonial .col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}
/*--- brands ----*/
.brands{
	margin: 100px auto;
}
.col-5{
	width: 160px;
}
.col-5 img{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-5 img:hover{
	filter: grayscale(0);
}
/*--- footer ----*/
.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}
.footer p{
	color: #8a8a8a;
}
.footer h3{
color: #fff;
margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex: 1;
	text-align: center;
}
.footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}
.footer-col-3, ..footer-col-4{
flex-basis: 12%;
text-align: center;
}
ul{
	list-style-type: none;
}
.app-logo{
	margin-top: 20px;
}
.app-logo img{
	width: 140px;
}
.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}
.copyright{
	text-align: center;
}
.menu-icon{
width: 28px;
margin-left: 20px;
display: none;
}
/*--- all products ----*/
.row-2{
justify-content: space-between;
margin: 100px 50px;
}
select{
	border: 1px solid #ff523b;
padding: 5px;
}
select:focus{
	outline: none;
}
.page-btn{
	margin: 0 auto 80px;
	color: gainsboro;
}
.page-btn span{
display: inline-block;
border: 1px solid #ff523b;
margin-left: 10px;
width: 40px;
height: 40px;
text-align: center;
line-height: 40px;
cursor: pointer;
}
.page-btn span:hover{
	background: #ff523b;
	color: #fff;
}
/*--- product details ----*/
.single-product{
	margin-top: 80px;
}
.single-product .col-2{
	padding: 0;
}
.single-product .col-2 img{
	padding: 20px;
}
.single-product h4{
margin: 20px 0;
font-size: 22px;
font-weight: bold;
}
.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}
.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #ff523b;
}
input:focus{
	outline: none;
}
.single-product .fa{
	color: #ff523b;
	margin-left: 10px;
}
.small-img-row{
	display: flex;
	justify-content: space-between;
}
.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}
/*--- cart ----*/
.cart-page{
	margin: 80px auto;
}
.cartset{
	padding: 100px;
}
table{
	width: 100%;
	border-collapse: collapse;
}
.cart-info{
	display: flex;
	flex-wrap: wrap;
}
th{
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #ff523b;
	font-weight: normal;
}
td{
	padding: 10px 5px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: tomato;
	font-size: 12px;
}
td img{
width: 80px;
height: 80px;
margin-right: 10px;
}
.total-price{
	display: flex;
	justify-content: flex-end;
}
.total-price table{
	border-top: 3px solid #ff523b;
	width: 100%;
	max-width: 400px;
}
td:last-child{
	text-align: right;
}
th:last-child{
	text-align: right;
}
/*--- Account page ----*/
.account-page{
	padding: 50px 0;
	background: radial-gradient(#404040,#000000);
}
.form-container{
	background: transparent;
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	overflow: hidden;

}
.form-container span{
font-weight: bold;
padding: 0 10px;
color: #555;
cursor: pointer;
width: 100px;
display: inline-block;
}
.form-btn{
	display: inline-block;
}
.form-container form{
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
	transition: transform 1s;
}
form input{
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}
form .btn{
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}
form .btn:focus{
	outline: none;
}
#LoginForm{
	left: -300px;
}
#Regform{
	left: 0;
}
form a{
	font-size: 12px;
}
#Indicator{
	width: 100px;
	border: none;
	background: #ff523b;
	height: 3px;
	margin-top: 8px;
	transform: translateX(100px);
	transition: transform 1s;
}
/*--- about us ----*/
.main-body{
	margin: 0;
	padding: 400px 0;
	background-image: url("assets/tom.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.about-contain{
	height: 75vh;
	width: 30%;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 0 20px;
}
.abimg{
	height: 70px;
	width: 70px;
	background: url("assets/as1.jpg")no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 50px;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.about-contain h1{
	color: gainsboro;
	margin-top: 50px;
}
.about-contain p{
	color: gainsboro;
	margin-top: 60px;
	margin: 10px;
	font-size: 16.5px;
	margin: 10px ;
}
.about-btn{
	background: no-repeat;
	outline: none;
	border: 1px solid gainsboro;
	color: gainsboro;
	width: 50%;
	padding: 7px 15px;
	font-size: 22px;
	cursor: pointer;
	transition: 0.3s;
	margin-top: 14px;
}
.about-btn:hover{
	background: #ff523b;
	color: black;

}
/*--- Contact page ----*/
.contact-page{
	margin: 0;
	padding: 400px;
	background: url("assets/tom.jpg")no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
.contactform{
	width: 85%;
	max-width: 600px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 30px 40px;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0 20px #ff523b;
}
.contactform h1{
	color: gainsboro;
	margin-top: 0;
	font-weight: 200;
}
.contactform label{
	color: gainsboro;
}
.txtb{
	border: 1px solid gray;
	margin: 8px 0;
	padding: 12px 8px;
	border-radius: 8px;
}
.textb label{
display: block;
text-align: left;
color: #333;
text-transform: uppercase;
font-size: 14px;
color: gainsboro;
}
.txtb input, .txtb textarea{
	width: 100%;
	border: none;
	background: none;
	outline: none;
	font-size: 18px;
	margin-top: 6px;
	color: gainsboro;
}
/*--- animation ----*/
@keyframes transitionIn{
	from{
opacity: 0;
transform: rotateY(-10px);
	}
	to{
opacity: 1;
transform: rotateY(0);
	}
}
/*--- loader ----*/
#preloader{
	background: #000 url('assets/prepre.gif') no-repeat center;
	background-size: 30%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 100;
}
/*--- media query for menu ----*/
@media only screen and (max-width: 800px){

	nav ul{
		position: absolute;
		top: 70px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li{
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a{
		color: #fff;
	}
.menu-icon{
	display: block;
	cursor: pointer;
}
}

/*--- media query for 600 ----*/
@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}
	.col-2, .col-3, .col-4{
flex-basis: 100%;
	}
	.single-product .row{
text-align: left;
	}
	.single-product .col-2{
padding: 20px 0;
	}
	.single-product h1{
		font-size: 26px;
		line-height: 32px;
	}
	.cart-info p{
		display: none;
	}
}
